<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script defer src="face-api.min.js"></script>
  <script defer src="script.js"></script>
  <script defer src="hark.bundle.js"></script>
  <script defer src="buttons.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <title>Realtime.io</title>
</head>
<body>
  <div class="container">



    <div class="modal fade" id="permissionDenied" role="dialog" aria-labelledby="joinRoomLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content permissionDenied">
          <div class="modal-header">
            <h1 class="col-12 modal-title text-center" id="joinRoomLabel">OOPS</h1>
          </div>
          <div class="modal-body text-center">
            <div class="form-group">
              <h3 class="form-text text-muted"><strong>We need camera and microphone permissions to use this app!</strong></h3>
            </div>
            <div class="py-1"></div>
            <div class="form-group py-1">
              <medium class="form-text text-muted">Please configure your browser settings to allow access so you can join the fun.</medium>
            </div>
            <div class="form-group py-1">
              <medium id="roomCodeLabel" class="form-text text-muted">
                Realtime.io prioritizes your privacy and safety. We promise your personal video feed will never be accessible to anyone else you're chatting with.
              </medium>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="submit" class="btn btn-secondary w-100">Got it!</button>
          </div>
        </div>
      </div>
    </div>










    <div class="row mx-0 toolbar">
      <button id="searchButton" type="button" class="bi bi-search search" data-toggle="modal" data-target="#joinRoom">
      </button>
      

      <div class="modal fade" id="joinRoom" tabindex="-1" role="dialog" aria-labelledby="joinRoomLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="col-11 modal-title text-center" id="joinRoomLabel">Join a room</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <!-- <span aria-hidden="true">&times;</span> -->
              </button>
            </div>
            <div class="modal-body text-center">
              <div class="form-group">
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Room code" id="roomCode">
                <small id="emailHelp" class="form-text text-muted">Paste in your room code to chat with your friends!</small>
              </div>
              <medium id="roomCodeLabel" class="form-text text-muted"><strong>My room code:</strong></medium>
              <small id="myRoomCode" class="form-text text-muted"></small>
            </div>
            <div class="modal-footer">
              <button type="button" id="submit" class="btn btn-secondary w-100">Let's go!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col content">
      <div class="grid-wrapper">
        <div id="video-grid" class="grid-container">
          <canvas id="face"></canvas>
        </div>
      </div>
      <div id="error">No faces were detected. Try moving into more light!</div>
      <div class="row controls">
        <div class="btn-outline-dark buttons">
          <button id="toggleVideoButton" type="button" class="btn btn-outline-dark bi bi-camera-video toggleButtons" data-toggle="button"></buttons>
        </div>
        <div class="btn-outline-dark buttons">
          <button id="toggleAudioButton" type="button" class="btn btn-outline-dark bi bi-volume-up toggleButtons" data-toggle="button"></button>
        </div>
      </div>
    </div>
  </div>

    <img id="default" src="./images/default.png">
    <img id="neutral" src="./images/neutral.png">
    <img id="happy" src="./images/happy.png">
    <img id="sad" src="./images/sad.png">
    <img id="angry" src="./images/angry.png">
    <img id="fearful" src="./images/fearful.png">
    <img id="disgusted" src="./images/disgusted.png">
    <img id="surprised" src="./images/surprised.png">
    <img id="nofaces" src="./images/nofaces.png">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>