#default, #neutral, #happy, #sad, #angry, #fearful, #disgusted, #surprised, #nofaces{
  display: none;
}

@media screen and (min-width: 320px) {
  body {
    height: calc(var(--vh, 1vh) * 100)!important;
  }
  .toggle {
    font-size: calc(16px + 30 * ((100vw - 320px) / 600));
  }
  #error {
    font-size: calc(16px + 10 * ((100vw - 320px) / 680));
  }
}

@media screen and (max-width: 480px) {
  body {
    background: rgb(26,252,181)!important;
    background: linear-gradient(180deg, rgba(26,252,181,1) 4%, rgba(61,244,133,1) 68%, rgba(26,252,181,1) 100%)!important;
  }
  .search{
    font-size: 45px;
    right: 30px!important;
  }
  .col .content{
    align-items: none!important;
  }
  .content{
    min-height: 100%;
  }
  #video-grid{
    padding-top: 10px!important;
    margin-top: 20px;
  }
  .controls{
    padding: 4%!important;
    margin-bottom: 0px!important;
    margin-top: 80%!important;
    bottom: 10px!important;
    width: 100%;
    position: absolute;
  }
  .toggle{
    max-height: none!important;
    height: 20vw!important;
    font-size: 10vw!important;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr))!important;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0!important;
  }
}

@media screen and (min-width: 992px) {
  video, #face {
    min-height: 230px;
  }
}

@media screen and (min-width: 1000px) {
  .toggle {
    font-size: 45px;
  }
  #error {
    font-size: 42px;
  }
}

body {
  background: url(./images/wave.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 50px 20px 0 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  /* border: 5px solid blue; */
}

.toolbar {
  height: 80px;
  width: 100vw;
  top: 0;
  display: block;
  position: absolute;
  align-items: center;
  margin-bottom: 10px;
}

.search {
  color:#1d1d1d;
  position: absolute;
  font-size: 45px;
  right: 40px!important;
  z-index: 1;
  background: transparent;
  border: none;
}

.search:hover {
  color:#dadada;
  cursor: pointer;
}

.helpme {
  height: 10%;
  width: 100vw;
  top: 0;
  position: absolute;
  align-items: center;
}

.modal-header{
  background-color: #31f695;
  border-radius: 35px 35px 0 0;
}

.modal-content{
  background-color: #fff;
  height: 40vh;
  border-radius: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.modal-footer{
  height: 20%!important;
  padding: 10px 10px!important;
}

#roomCodeLabel{
  margin-top: 50px;
}

#submit{
  height: 100%;
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 20px;
}

.content{
  /* contains emoji and error */
  margin: 0;
  padding: 0 15% 0 15%;
  justify-content: center;
  align-items: center;

  /* border: 5px solid red;  */
}

.grid-wrapper{
  max-height: 50%vh!important;
}

.grid-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 100%;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
  /* border: 5px solid purple!important; */
}

video, #face {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%!important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

#error {
  /* display: none; */
  color: #1d1d1d;
  text-align: center;
  font-size: 16px;
  display: block;
  max-height: 280px;
  padding: 20px 15% 20px 15%;
  margin: 25px 0 10px 0!important;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #dadada;
  opacity: 0%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#myVideo{
  margin: 10px;
  max-height: 250px;
  border-radius: 20px;
  object-fit: cover; 
  object-position: 100% 0;
}

.toggle{
  justify-content: center;
  align-items: center;
  max-height: 125px;
  max-width: 81px;
  margin: 0 3% 0 3%;
  aspect-ratio: 1;
}

i {
  justify-content: center!important;
  align-items: center!important;
  border: 3px solid!important;
  display: inline!important;
  border-radius: 20%!important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.controls{
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 20px 0 20px 0;
  padding: 20px 15% 20px 15%;
  min-height: 0;
  max-height: 125px;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  /* border: 5px solid red; */
}

/* active speaker class  */
/* .active{
  border: 5px solid #03a9f4;
  border-radius: 50%;
  padding: 10px;
} */